{% extends "base.html" %}
  {%block title%}
   <title>Новый пост</title>
  {% endblock %}
  {%block content%}
    <main>
      <div class="container py-5">
        <div class="row justify-content-center">
          <div class="col-md-8 p-5">
            <div class="card">
              <div class="card-header">       
                Новый пост             
              </div>
              <div class="card-body">        
                <form method="post" action="{% url 'posts:profile' username=user.username %}">
                  {% csrf_token %}           
                  <div class="form-group row my-3 p-3">
                    {{ form.text.label_tag }}
                    {{ form.text }}
                    <small id="id_text-help" class="form-text text-muted">
                      Текст нового поста
                    </small>
                  </div>
  
                  <div class="form-group row my-3 p-3">
                    {{ form.group.label_tag }}
                    {{ form.group }}
                    <small id="id_group-help" class="form-text text-muted">
                      Группа, к которой будет относиться пост
                    </small>
                  </div>
  
                  <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary">
                      Сохранить
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  {% endblock %}