{% extends 'base.html' %}
{% comment %} {% block title %}<h1>{{group.title}}</h1>{% endblock %} {% endcomment %}
{% block title %}{{group.title}}{% endblock %}
{% block content %}
<main>
<style>h1{display: inline;}</style> 
<h1>Записи сообщества:</h1>
<h1>{{group.title}}</h1>

<p>{{group.description}}</p>
{% for post in page_obj %}
  <ul>
    
    <li>
      Автор: {{ post.author.get_full_name }}
    </li>
    
    <li>Дата публикации: {{ post.pub_date|date:"d E Y" }}</li>

  </ul>

  <p>{{ post.text }}</p>
  <a href="{% url 'posts:post_detail' post.id %}">подробная информация</a>  
  {% if not forloop.last %}<hr>{% endif %}

{% endfor %}

{% include 'includes/paginator.html' %}

{% endblock %}