{% extends "base.html" %}
{% block title %} <title>Об авторе проекта</title>{% endblock %}
{% block content %}
{% load static %}
<h1>Привет, я автор</h1>
<p>
  Тут я размещу информацию о себе, используя свои умения верстать.
  Картинки, блоки, элементы бустрап. А может быть, просто напишу несколько абзацев текста. 
</p>
<header>
  <h3>
    <p>Меня зовут Александр Галушкин, я начинающий Бэкэнд програмист.</p>
  </h3>
  <img src = "{% static 'img/dog_author.jpg' %}">
  <hr>
  <h4>
    Во время работы мне помогал мой кот Серик, помогал мне во всем, 
    например не засыпать и подсказывал мяукая, а если я не понимал кусал.
  </h4>
<hr>
<footer>
  <p>
    Вот моя ссылка на гитхаб
  <p>

  <p>
    <a href='https://github.com/Arctik-Senior'>Ссылка на мой гитхаб</a>
  </p>
</footer>
  
</header>
{% endblock %}